<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bibitunggulscythe.myapp" version="1.0.0">
    <name>Apkku</name>
    <description>
        Aplikasih uji coba belajar
    </description>
    <author email="arifhidayat511@gmail.com">
        Arif Hidayat
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
